/* add custom styles */


.gameWindow{
  position: relative;
  border: black 2px solid;
  margin-top: 50px;
  height: 500px;
  overflow: hidden;
}

.playerBox{
  position: absolute;
  height:40px;
  width:40px;
  background: blue;
  margin:0 auto;
  margin-top: 400px;
  border: solid 1px black;
}

.computerBox{
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  border: solid 1px black;
  margin-left: 300px;
}
