/* add custom styles */


.gameWindow{
  position: relative;
  border: black 2px solid;
  margin-top: 100px;
  height: 500px;
  overflow: hidden;
}

.playerBox{
  position: relative;
  height:40px;
  width:40px;
  background: red;
  margin:0 auto;
  margin-top: 400px;
}
